workflow/Customer RaG (1).json
{
  "name": "Customer RaG",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        -320,
        -48
      ],
      "id": "da63ae71-dffa-4b2b-9fab-c2d882ce213c",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "nFv5fN9g8in4k1Qm",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.snippet }}",
        "options": {
          "systemMessage": "You are an AI Customer Support Agent for the company.\n\nYour responsibility is to read incoming customer emails, generate accurate responses using the company knowledge base, and send a professional reply back to the customer using the Gmail tool.\n\n====================\nCORE RULE\n====================\nYou must always use the Pinecone Chat Assistant (via the HTTP tool) to generate answers.\nThe Pinecone Chat Assistant is the ONLY source of truth.\n\n====================\nWORKFLOW (MANDATORY)\n====================\n1. An email is received from a customer.\n2. You send the FULL email content to the Pinecone Chat Assistant using the HTTP tool.\n3. You receive the response from the Pinecone Chat Assistant.\n4. You rewrite the response into a clear, polite, and professional customer support email.\n5. You send the final email response back to the customer using the Gmail tool.\n\n====================\nSTRICT CONSTRAINTS\n====================\n- Do NOT add new information.\n- Do NOT guess or assume facts.\n- Do NOT hallucinate.\n- Do NOT answer directly without calling the Pinecone Chat Assistant.\n- Do NOT mention Pinecone, AI, embeddings, RAG, or internal systems.\n\nIf the Pinecone Chat Assistant does NOT provide a clear or sufficient answer:\n- Politely explain that the information is currently unavailable.\n- Ask the customer for more details OR inform them that a human support agent will follow up.\n\n====================\nEMAIL WRITING GUIDELINES\n====================\n- Use a polite and friendly tone.\n- Be concise and easy to understand.\n- Address the customer’s question directly.\n- Avoid technical jargon unless the customer used it.\n- End the email with a supportive closing line.\n\n====================\nGMAIL TOOL INSTRUCTIONS\n====================\n- Use the Gmail tool to send the response.\n- Reply to the original sender’s email address.\n- Maintain the same email thread when replying.\n- Set the subject as a reply (e.g., \"Re: <original subject>\").\n- Use the drafted response as the email body.\n\n====================\nOUTPUT REQUIREMENTS\n====================\n- The final output must be the exact email body that will be sent.\n- Do NOT include analysis, reasoning, or system messages.\n- Do NOT include instructions or explanations.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        32,
        -48
      ],
      "id": "bc79a45a-6a5d-4605-a42e-2c0f1994b26e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "shamita"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        32,
        176
      ],
      "id": "e9ae42cb-52c5-40e6-bca2-34557186cf8d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $json.id }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('emailBody', 'The complete email response to send to the customer') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        160,
        176
      ],
      "id": "b1ce67d6-a70b-498a-9570-c899acb61f8c",
      "name": "Reply to a message in Gmail",
      "webhookId": "49af4709-9e74-4367-b720-61bb94df01ab",
      "credentials": {
        "gmailOAuth2": {
          "id": "nFv5fN9g8in4k1Qm",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Search the company knowledge base for information to answer customer questions",
        "method": "POST",
        "url": "https://prod-1-data.ke.pinecone.io/assistant/chat/policydocumentsdb",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Key",
              "value": "pcsk_4AuRq1_gWgVBPrEhSJWpLvbwr3ejT4cFZQ6zmBeNQuWiG4r9s1hGSFCEbfLvPrfmwdf8Y"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"messages\": [{ \"role\": \"user\", \"content\": $json.query }], \"stream\": false, \"model\": \"gpt-4o\" } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        288,
        176
      ],
      "id": "ac5b8799-629a-4681-b971-55d58748c392",
      "name": "Pinecone Chat Assistant"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -96,
        176
      ],
      "id": "aef636d2-c712-4a38-9d70-c5197443f6de",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "18xoQGbjKR7DPHYU",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Chat Assistant": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "3eb32158-26f3-4af5-9e5d-d843793f6de8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bbadd2a4336c98e115570a764092fc4faec61e82e4ff3bbcdaa5db5d3bbfb159"
  },
  "id": "JoGEe3wsTitCZ3O2",
  "tags": []
}